body {
  background: linear-gradient(
    109.6deg,
    rgb(209, 177, 241) 11.2%,
    rgb(114, 80, 240) 91.1%
  );
}

header {
  text-align: center;
}

#h-1 {
  font-weight: bold;
  color: rgba(63, 11, 248, 0.747);
  font-size: 50px;
  font-family: "Roboto", sans-serif;
}

img {
  width: 20%;
  height: 15%;
  margin: 20px;
}

main {
  width: 800px;
  margin: 32px auto;
  padding: 2rem;
  border: 5px;
  border-radius: 10px;
  margin-top: auto;
  background-color: rgba(87, 33, 235, 0.452);
  color: rgb(255, 255, 255);
}

.h-2 {
  margin-right: 425px;
  margin-top: 15px;
}

span {
  font-weight: bold;
}

p {
  font-family: "Ubuntu", sans-serif;
  font-size: large;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 14px 0;
  padding-left: 12px;
  border-left: solid transparent;
}

.li {
  color: rgb(222, 236, 19);
  border-left: 4px solid rgb(225, 230, 15);
}

a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
  background-color: rgb(236, 236, 113);
  border-radius: 5px;
  padding: 4px;
  color: rgb(80, 12, 12);
}

footer {
  text-align: center;
  color: rgb(31, 11, 73);
  font-size: larger;
  font-weight: 250;
}

@media only screen and (max-width: 64rem) {
  #h-1 {
    font-size: 2rem;
  }
  img {
    width: 35%;
    height: 20%;
  }
  main {
    width: 86%;
    padding-left: 0.5em;
    border-right: 0.5rem;
  }
  body {
    margin: 8px 3px;
  }
  .h-2 {
    margin-right: 15px;
  }
  a {
    font-size: 1rem;
    display: block;
    padding: 1px 0.4px;
  }
  footer p {
    font-size: 0.95rem;
  }
}
